<div id="skills" class="skills__container">
  <div class="container">
    <h3 class="section__title">Skills</h3>
    <p class="section__subtitle">My Technical level</p>

    <div class="row">
      <div class="col-md-6 col-lg-4 mb-2 skills__subcontainer">
        <app-skill-card
          [skillInfo]="skillInfo[0]"
          [toggle]="isCollapsed"
          (onToggle)="toggleFrontend($event)"
        ></app-skill-card>
        <app-skill-content
          [color]="'info'"
          [isCollapsed]="isCollapsed"
          [skills]="skillsFrontend"
        ></app-skill-content>
      </div>

      <div class="col-md-6 col-lg-4 mb-2 skills__subcontainer">
        <app-skill-card
          [skillInfo]="skillInfo[1]"
          [toggle]="isCollapsed2"
          (onToggle)="toggleBackend($event)"
        ></app-skill-card>
        <app-skill-content
          [color]="'secondary'"
          [isCollapsed]="isCollapsed2"
          [skills]="skillsBackend"
        ></app-skill-content>
      </div>

      <div class="col-md-6 col-lg-4 mb-2 skills__subcontainer">
        <app-skill-card
          [skillInfo]="skillInfo[2]"
          [toggle]="isCollapsed3"
          (onToggle)="toggleDatabases($event)"
        ></app-skill-card>
        <app-skill-content
          [color]="'warning'"
          [isCollapsed]="isCollapsed3"
          [skills]="skillsDatabase"
        ></app-skill-content>
      </div>
    </div>
  </div>
</div>
