@import "../../../styles/settings";

.skills__container {
  width: 100%;
  height: 530px;
}

.skills__title {
  text-align: center;
  color: $primary;
  font-size: 35px;
  margin-bottom: 0;
}

.skills__subtitle {
  text-align: center;
  color: darken($color: white, $amount: 40);
}

.skills__subcontainer {
  display: flex;
  flex-direction: column;
}
