<div style="width: 100%">
  <form>
    <div class="form-group mb-2">
      <label for="exampleInputEmail1">Email</label>
      <input
        disabled
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter email"
      />
    </div>
    <div class="form-group mb-2">
      <label for="exampleInputPassword1">Message</label>
      <textarea disabled class="form-control"></textarea>
    </div>
    <div class="form-group">
      <button
        class="btn btn-primary"
        style="width: 100%"
        type="button"
        disabled
      >
        Send
      </button>
    </div>
  </form>
</div>
