<div class="hero__main" id="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-6 hero__content">
        <h1 class="hero__greeting">Hi,</h1>
        <h1>
          <span class="hero__firstLetter">I am</span>
          <span class="hero__name"> Luis Choloquinga</span>
        </h1>
        <h2 class="hero__position">FullStack Developer Web.</h2>
        <div class="hero__socialNetwork">
          <a href="https://www.facebook.com/luis.cocha.549" target="_blank"
            ><i class="fab fa-facebook"></i
          ></a>
          <a
            href="https://www.linkedin.com/in/luis-choloquinga-389134192/"
            target="_blank"
          >
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/lgcholoquinga" target="_blank">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>

      <div class="col-md-6 hero__image-content">
        <div class="hero__avatar">
          <img
            class="hero__child"
            src="https://firebasestorage.googleapis.com/v0/b/portfolio-b21bc.appspot.com/o/static%2FLuisCholoquinga.png?alt=media&token=51ca2e62-e7a6-4986-b8e2-6b1f5fc9a920"
            alt="logo"
          />
        </div>
      </div>
    </div>
  </div>
</div>
