<div id="qualification" class="qualification__container mt-4">
  <div class="container">
    <h3 class="section__title">Qualification</h3>
    <p class="section__subtitle">My personal joruney.</p>
    <div class="row mt-4">
      <div class="col qualification__content">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
          <li [ngbNavItem]="1">
            <a ngbNavLink>
              <i class="fas fa-briefcase"></i>
              Work</a
            >
            <ng-template ngbNavContent>
              <app-qualification-card
                [qualifications]="works"
              ></app-qualification-card>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>
              <i class="fas fa-user-graduate"></i>
              Education</a
            >
            <ng-template ngbNavContent>
              <app-qualification-card
                [qualifications]="educations"
              ></app-qualification-card>
            </ng-template>
          </li>
          <li [ngbNavItem]="3">
            <a ngbNavLink>
              <i class="fas fa-certificate"></i>
              Congress</a
            >
            <ng-template ngbNavContent>
              <app-qualification-card
                [qualifications]="congresses"
              ></app-qualification-card>
            </ng-template>
          </li>

          <li [ngbNavItem]="4">
            <a ngbNavLink>
              <i class="fas fa-laptop-code"></i>
              Online Education</a
            >
            <ng-template ngbNavContent>
              <app-qualification-card
                [qualifications]="onlineEducations"
              ></app-qualification-card>
            </ng-template>
          </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>
  </div>
</div>
