@import "../../../../styles/settings";

.contact__card {
  width: 100%;
  display: grid;
  grid-template-columns: 40px 1fr;
  border: 1px solid $light-grey;
  margin-bottom: 5px;
  border-radius: 3px;
  padding: 5px;
}

.contact__icon {
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    color: $light-grey;
    font-size: 35px;
  }
}

.contact__content {
  grid-column: 2/-1;
  padding-left: 10px;
  h3 {
    color: $primary;
    font-weight: bold;
    margin-bottom: 0;
    font-size: 20px;
  }

  p {
    color: darken($color: white, $amount: 60);
    margin-bottom: 0;
  }
}
